/* #71cc71 #5BB35F*/


.header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 70px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgb(240, 240, 240);
  padding: 15px 15px 15px 10px;
  border-radius: 5px;
}

.left-section{
  min-width: 620px;
  
}

.info-block{
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.image-container{
  margin-left: 10px;
  margin-right: 10px;
  /* background-color: blue; */
}

.logo{
  width: 60px;
  height: 60px;
  object-fit: cover; 
}

.info-text-section{
  /* background-color: pink; */
} 

.title{
  font-size: 20px;
  font-weight: bold;
  margin: 0px 0px 0px 0px;
}

.address{
  margin: 3px 0px 0px 0px;
}

.contact{
  margin: 3px 0px 0px 0px;
}

.right-section{

}

.login-button-header{ 
  font-family: Roboto, Arial;
  font-size: 20px;
  font-weight: 600;
  background-color:#2d6a4f;
  color: rgb(235, 227, 220);
  border: none;
  padding: 8px 12px 8px 12px;
  border-radius: 10px;
  cursor: pointer;
}

.login-button-header:hover{
box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Deep, layered shadows */

}